# compiled output
/dist
/node_modules

# logs
yarn-error.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# env
.env
.env.test
.env.production
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# testing
/coverage

# application specific
/uploads
